* {
    box-sizing: border-box;
}
.canvas{
    border:2px rgb(102, 93, 93) solid;
    position:absolute;
    bottom:2%;
    right:1%;
    width: 81%;
    height: 80%;
    border-radius: 5px;
  
    
}
/* .flex {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
} */
.tools {
    border:2px rgb(102, 93, 93) solid;
    position:absolute;
    left: 1%;
    bottom: 2%;
    width: 17%;
    height: 80%;
    border-radius: 5px;  
    
}
#uploadFile {
    position: absolute;
    margin-left: 5px;
    bottom: 40px;
    width: 100%;
}
#clear {
    position: absolute;
    width: 99%;
    left:1px;
    right:1px;
    bottom: 1px;
    
   
}
#canvas-draft{
    background-color: transparent;
}
body{
    overflow:hidden;
}
.icon {
    width : 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px; 
}

/* colorpicker styles */
.colorpicker {
    background-color: #222222;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #444444;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    width: 460px;
    z-index: 2;
}
#picker {
    cursor: crosshair;
    float: left;
    margin: 10px;
    border: 0;
}
.controls {
    float: right;
    margin: 10px;
}
.controls > div {
    border: 1px solid #2F2F2F;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
}
.controls label {
    float: left;
}
.controls > div input {
    background-color: #121212;
    border: 1px solid #2F2F2F;
    color: #fff;
    float: right;
    font-size: 10px;
    height: 14px;
    margin-left: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 75px;
}
.preview {
    background: url("./select.png") repeat scroll center center transparent;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color:#000;
    border:1px solid #4da0cf;


}
